- content_for :title, "Order ##{@order.id} successful"
- content_for :breadcrumb, 'Order successful'
/ ==========
/ = Breadcrumbs =
/ ==========
= render_breadcrumbs 1
.container
  .push-up.blocks-spacer
    .row
      %section.span6.offset3.success_failure
        %h1
          %span.light Order
          Successful
        %p= "Thank you <b>#{@order.delivery_address.full_name}</b> your order number <b>#{@order.id}</b> has been recieved".html_safe

        %p= "You should soon receive an order confirmation at the email address provided (#{@order.email}). Please first check your spam folders and then contact us quoting the order number above if the email does not arrive.".html_safe

        %p We usually dispatch orders within 1-2 working days of receiving payment (product dependent, some items may take longer to prepare than others). Card/PayPal payments are usually instant, if instead you have selected Cheque as your payment method then please use the payment details in the order confirmation email, and if you have selected Bank Transfer then await a further email from us.

        %p 
          If you have any questions then please 
          = "#{link_to "get in touch", p_path('contact')}.".html_safe
          Thank you for your custom!