- content_for :title, '404 Error'
- content_for :breadcrumb, '404'

= render_breadcrumbs 1
.container
  .push-up.blocks-spacer
    .row
      %section.span2
      %section.span8
        %p.container-404
          = image_tag 'webmarket/404.png', :alt => '404 Error', :height => 161, :width => 394
        %hr/
        %p.center-align.size-16
          Looks like something went wrong! The page you were looking for is not here.
        %p.center-align.push-down-50
          Please navigate via the menu links above and below to find the page you were looking for, or if you're still unable to find the information you need please
          = link_to 'contact us', p_path('contact')
          and we'll do our best to help.
      %section.span2
  .row
    .span12
      .main-titles.lined
        %h2.title
          %span.light Featured
          Products
        .arrows
          %a#featuredItemsLeft.fa.fa-chevron-left{:href => "#", :style => "display: inline-block;"}
          %a#featuredItemsRight.fa.fa-chevron-right{:href => "#", :style => "display: inline-block;"}
  .carouFredSel{'data-autoplay' => false, 'data-nav' => 'featuredItems'}
    - @featured_products.each_slice(3) do |slice|
      .slide
        .row
          - slice.each do |product|
            .span4
              .product
                .product-inner
                  .product-img
                    .picture
                      = link_to (image_tag product.attachments.first.file.large, :alt => product.name, :height => 412, :width => 540), [product.category, product]
                  .main-titles.no-margin
                    %h4.no-margin.isotope--title= link_to (truncate product.name, :length => 35), [product.category, product]
                    = Store::Price.new(price: product.first_available_sku.price, count: product.skus.count).range
                    %p= product.meta_description