<% content_for :title, "Gimson Robotics Order Reciept, ID #{@order.id}" %>
<% content_for :header, "Order Notification " %>
<div style="padding:13px;">
  <div style="margin-left: 494px; width: 360px; margin-bottom: -120px; margin-top: 11px; float: left; border: 1px solid silver; padding: 5px;">
    <div style="margin-left: 10px; width: 115px; float: left;">Email
      address: <br>
      Business name: <br>
      Contact Address:<br>
      <br>
      <br>
      <br>
      UK VAT number:</div>
    <div style="margin-left: 12px; float: left;"><a href="mailto:support@gimsonrobotics.com">support@gimsonrobotics.com</a><br>
      Gimson Robotics Ltd<br>
      13 Elgin Park<br>
      Bristol<br>
      BS6 6RU<br>
      United Kingdom<br>
      (GB) 166536781</div>
  </div>
  <br>
  <div style="float: left; margin-top: -30px; width: 700px;">
    <h1>Order Notification for <a href="http://www.gimsonrobotics.co.uk">Gimson Robotics</a></h1>
    <br>
  </div>
  <table style="width: 450px;">
    <tbody>
      <tr>
        <td style="width: 120px; height: 19px;"><b>Order ID:</b></td>
        <td><%= @order.id %><br>
        </td>
      </tr>
      <tr>
        <td><b>Date:</b></td>
        <td><%= @order.created_at.strftime(" #{@order.created_at.day.ordinalize} %b %Y") %><br>
        </td>
      </tr>
      <tr>
        <td><b>Payment by:</b></td>
        <td><%= @order.payment_type.titleize %><br>
        </td>
      </tr>
      <tr>
        <td><b>Payment status:</b></td>
        <td><%= @order.transactions.last.payment_status.titleize %><br>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <table style="width: 700px;">
    <tbody>
      <tr>
        <td style="width: 140px;"><b>Delivery method:</b></td>
        <td><%= @order.delivery.full_name %><br>
        </td>
      </tr>
      <tr>
        <td><b>Tracking available:</b></td>
        <td><%= @order.tracking? ? "Yes" : "No" %><br>
        </td>
      </tr>
      <tr>
        <td><b>Dispatch expected:</b></td>
        <td><%= @order.delivery_service.description %></td>
      </tr>
    </tbody>
  </table>
  <br>
  <table>
    <tbody>
      <tr>
        <td style="width: 350px;"><b>Billing address:</b><br>
          <%= @order.billing_address.full_name %><br>
          <%= @order.billing_address.address %><br>
          <%= @order.billing_address.city %><br>
          <%= @order.billing_address.postcode %><br>
          <%= @order.billing_address.country %><br>
          <br>
          <b>Telephone:</b> <%= @order.billing_address.telephone %><br>
        </td>
        <td style="width: 350px;"><b>Delivery address:</b><br>
          <%= @order.delivery_address.full_name %><br>
          <%= @order.delivery_address.address %><br>
          <%= @order.delivery_address.city %><br>
          <%= @order.delivery_address.postcode %><br>
          <%= @order.delivery_address.country %><br>
          <br>
          <b>Telephone:</b> <%= @order.delivery_address.telephone %> </td>
      </tr>
    </tbody>
  </table>
  <br>
  <b>&nbsp;Email address:</b> <%= @order.email %><br>
  <br>
  <div style="width: 840px; border: 1px solid #CCCCCC; padding: 10px; float:left;">
    <div class="left-top" style="width: 500px;">Product</div>
    <div class="left-top" style="width: 130px;">SKU</div>
    <div class="right-top">Quantity</div>
    <div class="right-top">Price</div>
    <div class="right-top">Amount</div>
    <% @order.order_items.each do |item| %>
      <br>
      <div class="left" style="width: 500px;">
        <a href="#"><%= item.sku.product.name %></a>
        <% unless item.order_item_accessory.nil? %>
          <br>
          &nbsp;&nbsp;with: <%= item.order_item_accessory.accessory.name %>
        <% end %>
      </div>
      <div class="left" style="width: 130px;"><%= item.sku.full_sku %> </div>
      <div class="right"><%= item.quantity %></div>
      <div class="right"><%= Store::Price.new(price: item.price, tax_type: 'net').single %></div>
      <div class="right"><%= Store::Price.new(price: item.total_price, tax_type: 'net').single %></div>
    <% end %>
    <div style="width: 100%;" class="right">
      <hr style="width: 250px; float: right;"><br>
      <b>Subtotal:</b>
      <div style="width: 80px; float: right"><%= Store::Price.new(price: @order.net_amount, tax_type: 'net').single %></div>
      <br>
      <b>Delivery:</b>
      <div style="width: 80px; float: right"><%= Store::Price.new(price: @order.delivery.price, tax_type: 'net').single %></div>
      <b><br>
        UK VAT (at 20%):</b>
      <div style="width: 80px; float: right"><%= Store::Price.new(price: @order.tax_amount, tax_type: 'net').single %></div>
      <br>
      <hr style="width: 200px; float: right;"> <br>
      <b>Total (GBP):</b>
      <div style="width: 80px; float: right"><%= Store::Price.new(price: @order.gross_amount, tax_type: 'net').single %></div>
    </div>
  </div>
  <br>
  <div style="margin-top: 300px;"><br>
    <b>Order process:</b><br>
    <br>
    We will email a dispatch notification to you when your order is
    en-route. If the delivery method used has tracking available <br>
    then a tracking code will be included in the dispatch notification
    email.<br>
    <br>
    This email receipt may be used as a VAT invoice, our VAT number can be
    found towards the top right-hand corner.<br>
    <br>
    If you have any questions about your order please get in touch at<a href="mailto:support@gimsonrobotics.com">
      support@gimsonrobotics.com</a>, quoting your order number (ID).<br>
    <br>
    <br>
    <hr style="color: #CCCCCC;"><br>
    <small><b>Additional information:</b><br>
      <br>
      <i>By placing this order you will have agreed to our <a href="http://www.gimsonrobotics.co.uk/terms_and_conditions.html">terms
          and conditions</a>. If you are a consumer ordering from the
        European Union then directive 2011/83/EU will <br>
        apply to your order (also known as The Directive on Consumer
        Rights). This includes the right to return an item within 14 days
        of receipt, provided the item is<br>
        not customised or assembled to-order. If you wish to request a
        cancellation please use the <a href="http://www.gimsonrobotics.co.uk/other/Gimson-Robotics-Ltd_order-cancellation-form.pdf">cancel
          form here</a>, ensuring that it is sent as soon as possible
        within <br>
        the 14 day limit. Returns/cancellations will not be accepted if
        the items have been modified or damaged by the user. We require
        that customers cover the return <br>
        postage costs of any non-faulty returned items.</i></small> &nbsp;
    <br>
    <br>
  </div>
</div>