<% content_for :title, "Service Notification" %>
<% content_for :header, 'Service Notification' %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title><%= yield :title %></title>
    <meta content="Ewan Gimson" name="author">
  </head>
  <body>
    <div style="margin-left: auto; margin-right: auto; display: table; width: 850px; font-family: Helvetica,Arial,sans-serif; font-size: 15px;">
      <div style="width: 850px; vertical-align: middle; height:50px; margin-top: 20px; padding-bottom: 25px; border-bottom: 1px solid #cccccc; color: #000000; font-family: Helvetica,Arial,sans-serif;">
        <table style="width: 100%" border="0">
          <tbody>
            <tr>
              <td style="width: 370px;">
                <%= link_to root_url do %>
                  <%= image_tag "#{Rails.application.secrets.email_root}/gimson-robotics_logo.jpg", style: 'width:330px;', alt: 'Gimson Robotics' %>
                <% end %>
              </td>
              <td>
                <div style="font-size: 20px; font-family: Helvetica,Arial,sans-serif; font-weight: bold;"><%= yield :header %></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="padding:15px;"><br>
          <%= @content.html_safe %><br>
        </div>
        <br>
      </div>
  </body>
</html>
