<% content_for :title, "Order Unsuccessful" %>
<% content_for :header, "Order Unsuccessful" %>

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title><%= yield :title %></title>
    <meta content="Ewan Gimson" name="author">
  </head>
  <body>
    <div style="margin-left: auto; margin-right: auto; display: table; width: 850px; font-family: Helvetica,Arial,sans-serif; font-size: 15px;">
      <div style="width: 850px; vertical-align: middle; height:50px; margin-top: 20px; padding-bottom: 25px; border-bottom: 1px solid #cccccc; color: #000000; font-family: Helvetica,Arial,sans-serif;">
        <table style="width: 100%" border="0">
          <tbody>
            <tr>
              <td style="width: 370px;">
                <%= link_to image_tag("#{Rails.application.secrets.email_root}/gimson-robotics_logo.jpg", style: 'width: 330px;', alt: 'Gimson Robotics'), root_url %>
              </td>
              <td>
                <div style="font-size: 20px; font-family: Helvetica,Arial,sans-serif; font-weight: bold;"><%= yield :header %></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="padding:15px;"><br>
        We're sorry to say that your recent attempt at payment through PayPal
        for your order on the Gimson Robotics website was unsuccessful. The
        reason given is: <%= @order.transactions.last.status_reason %><br>
        <br>
        Please <%= link_to "click here", retry_order_url(@order), style: 'text-decoration: none; color: #008e99;' %> to be taken back to the checkout and attempt payment again.
        If you continue having trouble you can contact us at <a style="text-decoration: none; color: #008e99;"

          href="mailto:sales@gimsonrobotics.com">sales@gimsonrobotics.com</a>.<br>
      </div>
      <br>
      <div style="width:100%; vertical-align: middle; border-top: 1px solid #cccccc; padding: 15px; font-size: 12px;"><span

          style="font-style: italic;">This is an automated message, if you think
          you have received this message in error please let us know at <a style="text-decoration: none; color: #008e99;"

            href="mailto:admin@gimsonrobotics.com">admin@gimsonrobotics.com</a></span><br>
      </div>
    </div>
  </body>
</html>