!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= "#{yield :title} - #{Store::settings.name} | The linear actuator and electric motor specialist"
    %meta{:content => "#{yield :meta_description}", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = include_gon(watch: true)
    :javascript
      WebFontConfig = {
          google : {
              families : ['Open+Sans:400,700,400italic,700italic:latin,latin-ext,cyrillic', 'Pacifico::latin']
          }
      };
      (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
      })();
    = stylesheet_link_tag "themes/#{Store::settings.theme.name}/application", "data-turbolinks-track" => true
    = javascript_include_tag "themes/#{Store::settings.theme.name}/application", "data-turbolinks-track" => true 
    %link{href: "/stylesheets/font.css", rel: "stylesheet", media: "screen"}/
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    .master-wrapper
      / ==========
      / = Header =
      / ==========
      %header#header
        .container
          .row
            / ==========
            / = Logo =
            / ==========
            .span6
              = link_to root_path, :class => 'brand' do
                = image_tag 'gimson-robotics_logo.jpg', :alt => Store::settings.name
            .span6.sub-menu
              %ul
                - page_list.each do | page|
                  %li{ :class => "#{active_page?(controller: 'pages', slug: page.slug)} #{'desktop' if page.slug == 'contact'}" }
                    = link_to page.render_menu_title, p_path(slug: page.slug), title: page.title

      / ==========
      / = Main Menu / navbar =
      / ==========
      #stickyNavbar.navbar.navbar-static-top
        .navbar-inner
          .container
            .row
              .span9
                = link_to p_path('contact'), class: 'btn btn-navbar mobile-contact-us mobile' do
                  Contact
                  %i.fa.fa-envelope
                %button.btn.btn-navbar.mobile-menu{"data-target" => ".nav-collapse", "data-toggle" => "collapse", type: "button"}
                  %div Menu
                  %div
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
                / ==========
                / = Menu =
                / ==========
                .nav-collapse.collapse
                  %ul#mainNavigation.nav
                    - category_list.each do |category|
                      %li{ :class => active_category?(category.slug) }
                        = link_to category.name, category
                  / ==========
                  / = Search form =
                  / ==========
                  = form_tag search_path, method: :get, :class => 'navbar-form pull-right' do
                    = button_tag(type: 'submit') do
                      %span.icon-search
                    = text_field_tag(:query, params[:query], autocomplete: 'off', tabindex: "1", :class => 'span1', id: 'navSearchInput' )
              / ==========
              / = Cart =
              / ==========
              .span3
                #cartContainer.cart-container
                  = render partial: theme_presenter.page_template_path('carts/popup'), format: [:html]
      / ==========
      / = Main container =
      / ==========
      = yield
      / ==========
      / = Footer =
      / ==========
      %footer
        / ==========
        / ==========
        / = Upper footer =
        .foot-light
          .container
            .row
              .span8
                .main-titles.lined
                  %h3.title
                    %span.light Main
                    Navigation
                %ul.nav
                  %li= link_to 'Home', root_path
                  - page_list.each do | page|
                    %li{ :class => active_page?(controller: 'pages', slug: page.slug) }
                      = link_to page.render_menu_title, p_path(slug: page.slug), title: page.title
              / .span4
              /   .main-titles.lined
              /     %h3.title
              /       %span.light Newsletter
              /       Signup
              /   %p Sign up for our newsletter below
              /   / Begin MailChimp Signup Form
              /   %form.form.form-inline{action: "", method: "post"}
              /     %input.required.email{name: "EMAIL", placeholder: "Enter your e-mail address", type: "email", value: ""}/
              /     %input.btn.btn-primary{name: "subscribe", type: "submit", value: "Send"}/
              /   / End mc_embed_signup
        / /upper footer
        / ==========
        / = Bottom Footer =
        / ==========
        .foot-last
          %a#toTheTop{href: "#"}
            %span.fa.fa-chevron-up
          .container
            .row
              .span6
                = "© Copyright #{Date.today.year} #{Store::settings.name}"
        / /bottom footer
      / /footer
    %script{src: "http://maps.googleapis.com/maps/api/js?sensor=false", type: "text/javascript"}
    - if Store::settings.ga_active
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', gon.trackingCode, {'cookieDomain': 'none'});
        ga('send', 'pageview');
.search-data-query
#cartNotification
