- content_for :title, 'Home'
- content_for :page_title, 'The Linear Actuator and Electric Motor specialist'
.container
  .most-popular.blocks-spacer
    .container
      = render partial: theme_presenter.page_template_path('shared/flash'), format: [:html], locals: { visible_alert: true }
      .row
        .span12
          = raw Store::settings.introduction
      .row
        .span12
          .main-titles.lined
            %h2.title
              %span.light Featured
              Products
            .arrows
              %a#featuredItemsLeft.fa.fa-chevron-left{:href => "#", :style => "display: inline-block;"}
              %a#featuredItemsRight.fa.fa-chevron-right{:href => "#", :style => "display: inline-block;"}
      .carouFredSel{'data-autoplay' => false, 'data-nav' => 'featuredItems'}
        - @featured_products.each_slice(3) do |slice|
          .slide
            .row
              - slice.each do |product|
                .span4
                  .product
                    .product-inner
                      .product-img
                        .picture
                          = link_to (image_tag product.attachments.first.file.large, :alt => product.name, :height => 412, :width => 540), [product.category, product]
                      .main-titles.no-margin
                        %h4.no-margin.isotope--title= link_to (truncate product.name, :length => 35), [product.category, product]
                        = Store::Price.new(price: product.skus.first.price, count: product.skus.count).range
                        %p= product.meta_description
- unless @news_items.empty?
  .darker-stripe.blocks-spacer.more-space.latest-news.with-shadows
    .container
      .row
        .span12
          .main-titles.center-align
            %h2.title
              %span#tweetsLeft.clickable.fa.fa-chevron-left{'data-toggle' => 'tooltip', title: 'Forward', 'data-placement' => 'bottom'}
              \   
              %span.light Latest
              News    
              %span#tweetsRight.clickable.fa.fa-chevron-right{'data-toggle' => 'tooltip', title: 'Back', 'data-placement' => 'bottom'}
      .row
        .span12
          .carouFredSel{"data-autoplay" => "false", "data-nav" => "tweets"}
            - @news_items.each_slice(2) do |slice|
              .slide
                .row
                  - slice.each do |news_item|
                    .span6
                      .news-item
                        .published= news_item.published_date.strftime('%d/%m/%Y')
                        %h6= news_item.headline
                        %p= raw news_item.content