- content_for :title, 'Home'
- content_for :page_title, 'The Linear Actuator and Electric Motor specialist'
.container
  / ==========
  / = Most Popular products =
  / ==========
  .most-popular.blocks-spacer
    .container
      = render partial: theme_presenter.page_template_path('shared/flash'), format: [:html]
      / ==========
      / = Title =
      / ==========
      .row
        .span12
          .main-titles.lined
            %h2.title
              %span.light Featured
              Products
      / /title
      .row
        - @featured_products.each do |product|
          .span4
            .product
              .product-inner
                .product-img
                  .picture
                    = link_to (image_tag product.attachments.first.file.large, :alt => product.name, :height => 412, :width => 540), [product.category, product]
                .main-titles.no-margin
                  %h4.no-margin.isotope--title= link_to (truncate product.name, :length => 35), [product.category, product]
                  = Store::Price.new(price: product.skus.first.price, count: product.skus.count).range
                  %p= product.meta_description
/ ==========
/ = Lastest News =
/ ==========
.darker-stripe.blocks-spacer.more-space.latest-news.with-shadows
  .container
    / ==========
    / = Title =
    / ==========
    .row
      .span12
        .main-titles.center-align
          %h2.title
            %span#tweetsLeft.clickable.fa.fa-chevron-left
            \   
            %span.light Latest
            News    
            %span#tweetsRight.clickable.fa.fa-chevron-right
    / /title
    / ==========
    / = News content =
    / ==========
    .row
      .span12
        .carouFredSel{"data-autoplay" => "false", "data-nav" => "tweets"}
          / ==========
          / = Slide =
          / ==========
          .slide
            .row
              .span6
                .news-item
                  .published 12. July, 2013
                  %h6
                    %a{:href => "#"} Title of the Latest News
                  %p There's a voice that keeps on calling me. Down the road, that's where I'll al ways be. Every stop I make, I make a new friend. Lorem sown the road, that's where I'll always be. Every stop I make, I make a new friend.
              .span6
                .news-item
                  .published 18. July, 2013
                  %h6
                    %a{:href => "#"} Another Amusing News
                  %p There's a voice that keeps on calling me. Down the road, that's where I'll al ways be. Every stop I make, I make a new friend. Lorem sown the road, that's where I'll always be. Every stop I make, I make a new friend.
          / /slide
          / ==========
          / = Slide =
          / ==========
          .slide
            .row
              .span6
                .news-item
                  .published 12. July, 2013
                  %h6
                    %a{:href => "#"} Title of the Latest News
                  %p There's a voice that keeps on calling me. Down the road, that's where I'll al ways be. Every stop I make, I make a new friend. Lorem sown the road, that's where I'll always be. Every stop I make, I make a new friend.
              .span6
                .news-item
                  .published 18. July, 2013
                  %h6
                    %a{:href => "#"} Another Amusing News
                  %p There's a voice that keeps on calling me. Down the road, that's where I'll al ways be. Every stop I make, I make a new friend. Lorem sown the road, that's where I'll always be. Every stop I make, I make a new friend.
          / /slide
    / /news content
/ /latest news