<div aria-hidden="true" aria-labelledby="transactionModalLabel" class="modal fade" id="transaction-form" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for [:admin, @transaction], :html => { role: 'form', method: :patch, id: @transaction.id }, remote: true do |f| %>
        <div class="json" id="errors">
          <ul></ul>
        </div>
        <%= render partial: 'shared/loading', format: [:html] %>
        <div class="modal-header">
          <h3 id="transactionModalLabel">
            Edit transaction for Order
            <%= "##{@transaction.order.legacy_order_id}" %>
          </h3>
        </div>
        <div class="modal-body">
          <fieldset class="widget widget-content widget-last">
            <p>If the payment has been received and cleared successfully, mark the transaction as completed.</p>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <%= f.check_box :payment_status, {}, 'completed' %>
                  Completed
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button class="btn btn-orange btn-large" data-dismiss="modal" type="button">Close</button>
          <%= f.submit 'Submit', :class => 'btn btn-blue btn-large' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
