- content_for :title, @page.page_title
- content_for :meta_description, @page.meta_description
- content_for :breadcrumb, @page.title
/ ==========
/ = Breadcrumbs =
/ ==========
= render_breadcrumbs 1
.container.contact-form-container
  .push-up.top-equal.blocks-spacer-last
    .row
      / ==========
      / = Main Title =
      / ==========
      .span12
        = render partial: theme_presenter.page_template_path('shared/flash'), format: [:html], locals: { visible_alert: @page.visible_alert }
        %h3
          %span.light= @page.title
        %hr    
      / ==========
      / = Main content =
      / ==========
      %section.span8.single.single-page
        / ==========
        / = Post =
        / ==========
        %article.post
          .post-inner.push-down-25
            %p
              The fastest and easiest way to contact us is by email, please send your query to 
              %a{href: 'mailto:support@gimsonrobotics.com'}support 'at' gimsonrobotics.com 
              or use the contact form below:
        / ==========
        / = Contact Form =
        / ==========
        %section
          = form_for @contact_message, url: send_contact_message_p_pages_path, html: { :class => 'form form-inline form-contact remote-form loading-form', id: 'commentform', method: :post, remote: true } do |f|
            %p.push-down-20
              %label
                Name
                %span.red-clr.bold *
              = f.text_field :name, tabindex: 1
            %p.push-down-20
              %label
                Email
                %span.red-clr.bold *
              = f.text_field :email, tabindex: 2
            %p.push-down-20
              = f.text_area :message, cols: 70, placeholder: 'Your message goes here...', rows: 7, tabindex: 4, :class => 'input-block-level'
            %p
              = f.submit 'Send message', tabindex: 5, :class => 'btn btn-primary bold'
        %article.company-info
          .row
            .span8
              = raw @page.content
