#estimateDeliveryModal.modal.fade{"aria-hidden" => "false", "aria-labelledby" => "estimateDeliveryModalLabel", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3#estimateDeliveryModalLabel
      %span.light Estimate
      Shipping
  = form_for @order, :url => estimate_order_build_path, :html => { :method => :put, :remote => true } do |f|
    .modal-body
      .control-group
        = label_tag :country, :class => 'control-label' do
          Country
        .controls.update-shipping
          = select_tag(:country, options_for_select(Country.all.map { |country| [country.name, country.name] }), { :prompt => 'Please select...', :id => 'address_country'})
      .shipping-methods
        .control-group
          = f.label :shipping_id, :class => 'control-label' do
            Shipping options
          .controls
            %p.shipping-notice Select a shipping country to view the available shipping options.
    .modal-footer
      = f.submit "Submit", :class => 'btn btn-primary higher bold'