- content_for :title, 'Contact Us'
- content_for :breadcrumb, 'Contact Us'

/ ==========
/ = Breadcrumbs =
/ ==========
= render_breadcrumbs 1
.container.contact-form-container
  .push-up.top-equal.blocks-spacer-last
    = render partial: 'shared/flash/store'
    .row
      / ==========
      / = Main Title =
      / ==========
      .span12
        %h3
          %span.light Contact
          Us
        %hr
      / ==========
      / = Main content =
      / ==========
      %section.span8.single.single-page
        / ==========
        / = Post =
        / ==========
        %article.post
          .post-inner.push-down-25
            %p
              The fastest and easiest way to contact us is by email, please send your query to 
              %b support 'at' gimsonrobotics.com 
              or use the contact form below:
        / ==========
        / = Contact Form =
        / ==========
        %section
          = form_for @contact, html: { :class => 'form form-inline form-contact remote-form loading-form', id: 'commentform', method: :post, remote: true } do |f|
            %p.push-down-20
              %label
                Name:
                %span.red-clr.bold *
              = f.text_field :name, tabindex: 1
            %p.push-down-20
              %label
                Email:
                %span.red-clr.bold *
              = f.text_field :email, tabindex: 2
            %p.push-down-20
              %label
                Telephone:
              = f.text_field :telephone, tabindex: 3
            %p.push-down-20
              = f.text_area :message, cols: 70, placeholder: 'Your message goes here...', rows: 7, tabindex: 4, :class => 'input-block-level'
            %p
              = f.submit 'Send message', tabindex: 5, :class => 'btn btn-primary bold'
        / ==========
        / = Company Info with Google Maps =
        / ==========
        %article.company-info
          .row
            .span8
              %p Please send any post or other queries to:
              %p
                %strong.opensans.dark-clr Gimson Robotics
                %br/
                13 Elgin Park
                %br/
                Bristol
                %br/
                BS6 6RU
                %br/
                United Kingdom
              %p
                Please be aware that 
                %b we don't keep a permanent phone line 
                as it would be uneconomical to maintain for a business of our size without additional dedicated staff. We are an engineering company first and foremost and spend much of our time in the workshop developing customer projects, making a reliable phone presence impractical. If despite this you still wish to call us please message us above and we will provide you with a mobile contact.
      / /main content
